html{
    color: #011827;
    font-family: Roboto, sans-serif;
}
header{
    background-color: #011827;
    color: white;
    display: flex;
    height: 144px;
    width: 100%;
}
.logo{
    padding-top: 26px;
    padding-left: 27px;
    width: 128px;
    height: 82px;
}
.headImg{
    width:100%;
}
nav{
    display: none;
}
h1{
    width: 76px;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 13px;
}
h2{
    font-size: 32px;
}
h3{
    
    font-size: 28px;
    margin: 0px;
    padding-top: 10px;
   
}

.quoteFace{
    height:72px;
    border-radius: 50%;
}
.roomBox{
    width: 363px;
    height: 446px;
    
    margin: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    
}
.roomImg{
    width: 363px;
    height: 219px;

}
.onSiteBtn{
    background-color:#8ACFE5;
    color: #011827;
    border: none;
    height: 66px;
    width: 308px;
    font-size: 24px;
    display: block;
    margin: auto;
   
}
.rating{
    display: flex;
   
}

.ratingStar{
    display: flex;
    height: 15px;
    margin: 3px;
}
.participantInfo{
    display: flex;
    font-size: 14px;
   
}
.roomInfo{
    padding-left: 17px;
    padding: 17px;
    
}
.oneRow{
    display: flex;
    flex-direction: row;
}

.bookRoom{
    background-color: #E3170A;
    color: white;
    border: none;
    height: 44px;
    width: 179px;
    float: right;
    margin: 10px;

}