footer{
    background-color: $navyBlue;
    color: white;
    padding: 1rem;
}
ul{
    list-style-type: none;
    margin-top: -20px;
    li{
        font-size: 18px;
        margin-left: -40px;
    }
}
.siteMapList{
    margin-bottom: 3rem;
}
.socialMediaList{
    margin-bottom: 4rem;
}