@use "header.scss";
@use "cards.scss";
@use "footer.scss";
@use "quotes.scss";

$lightRed: #E3170A;
$lightBlue: #8ACFE5;
$mediumBlue: #36769d;
$navyBlue: #011827;
$grey: #B6BDB5;
$mediumScreen: 1150px;

@mixin desktopButton{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 3em;
    padding-right: 3em;
}
@mixin mobileButton{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
}

html{
    color: black;
    font-family: Roboto, sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
}
@media screen and  (min-width: $mediumScreen) {
    body{
        display: grid;
    }
}

button{
    border-radius: 3px;
}
@media screen and  (min-width: $mediumScreen) {
    button{
        border-radius: 4px;
    }
}

h3{
    font-size: 28px;
    margin: 0px;
    padding-top: 10px;
}
h4{
    font-size: 30px;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0px;
}
@media screen and  (min-width: $mediumScreen) {
  .buttons{
    display: flex;
    flex-direction: row;
  }
}
.onSiteBtn{
    @include mobileButton();
    background-color: $lightBlue;
    color: $navyBlue;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 24px;
    display: flex;
}

@media screen and  (min-width: $mediumScreen) {
    .onSiteBtn{
      @include desktopButton;
      order: 2;
      margin-top: -50px;
      margin-bottom: 3em;
      margin-left: 1rem;
      margin-right: auto; 
    } 
}

@media screen and  (max-width: 300px) {
    .onSiteBtn{
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

.onlineBtn{
    border: none;
    background-color: white;
    color:$mediumBlue;
    text-decoration: underline;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2em;
}

@media screen and  (min-width: $mediumScreen) {
    .onlineBtn{
        @include desktopButton;
        color:white;
        background-color: $lightRed;
        margin-bottom: 3em;
        margin-top: -50px;
        margin-left: auto;
        font-size: 24px;
        text-decoration: none;
        font-weight: 500;
        order: 1;
        margin-right: 1rem;
    }
}

.lowerOnSiteBtn{
    background-color: $lightBlue;
    color: $navyBlue;
    @include desktopButton();
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 24px;
    display: flex;
}

@media screen and  (min-width: $mediumScreen) {
    .lowerOnSiteBtn{
      margin-left: 1rem;
      margin-right: auto;
    }
}

@media screen and  (max-width: 300px) {
    .lowerOnSiteBtn{
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

.lowerOnlineBtn{
    border: none;
    background-color: white;
    color:$mediumBlue;
    text-decoration: underline;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4em;
}

@media screen and  (min-width: $mediumScreen) {
    .lowerOnlineBtn{
        margin-right: 1rem;
    }
}

.storyBox{
    background-color: $navyBlue;
    color: white;
    padding: 1em;
    font-size: 28px;
}

.storyBtn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
    border-color: $lightBlue;
    background-color: $navyBlue;
    color: $lightBlue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 24px;
}

@media screen and  (min-width: $mediumScreen) {
    .storyBtn{
        @include desktopButton;
      margin-bottom: 4rem;
    }
}

.storyText{
    text-align: center;
    margin-top: 2.5em;
}

@media screen and  (min-width: $mediumScreen) {
    .storyText{
      width: 50%;
      margin-left: auto;
      margin-right: auto;  
      font-size: 28px;
      padding-bottom: 1rem;
    }
}

@media screen and  (min-width: $mediumScreen) {
    .infoBlock{
       display: grid;
       width: 100%;
       margin-bottom: 6rem;
       grid-template-columns: 50% 50%;
       grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
       grid-template-areas: 
       "imgOne titleOne"
       "imgOne textOne"
       "imgOne btnOne"
       "imgOne ."
       "titleTwo imgTwo"
       "textTwo imgTwo"
       "btnTwo imgTwo"
        ". imgTwo";
    }
}

.infoImgOne{
    width: 100%;
}

@media screen and  (min-width: $mediumScreen) {
    .infoImgOne{
        grid-area: imgOne;
        object-fit: cover;
    }
}

.infoTitleOne{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0px;
}

@media screen and  (min-width: $mediumScreen) {
    .infoTitleOne{
        grid-area: titleOne;
        margin-left: 15%;
        margin-right: 15%;
        text-align: left;
        margin-top: 2rem;
    }
}

.infoTextOne{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    font-size: 24px;
}

@media screen and  (min-width: $mediumScreen) {
    .infoTextOne{
        grid-area: textOne;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.infoBtnOne{
    color:white;
    background-color: $lightRed;
    @include mobileButton();
    border: none;
    margin-left: 1rem;
    margin-bottom: 3em;
    margin-top: 2rem;
    font-size: 24px;
    
    margin-right: 1rem;
}

@media screen and  (min-width: $mediumScreen) {
        .infoBtnOne{
            @include desktopButton;
            grid-area: btnOne;
            margin-left: 17%;
            margin-right: auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem; 
        }
}

.infoImgTwo{
    width: 100%;
}

@media screen and  (min-width: $mediumScreen) {
    .infoImgTwo{
        grid-area: imgTwo;
        object-fit: cover;
    }
}

.infoTitleTwo{
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0px;
}

@media screen and  (min-width: $mediumScreen) {
    .infoTitleTwo{
        grid-area: titleTwo;
       margin-left: 15%;
        margin-right: 15%;
        margin-top: 2rem;
        text-align: left;
    }
}

.infoTextTwo{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    font-size: 24px;
}

@media screen and  (min-width: $mediumScreen) {
    .infoTextTwo{
        grid-area: textTwo;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.infoBtnTwo{
    color:white;
    background-color: $lightRed;
    @include mobileButton();
    border: none;
    margin-left: 1rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-size: 24px;
    margin-right: 1rem;
}

@media screen and  (min-width: $mediumScreen) {
        .infoBtnTwo{
            @include desktopButton;
            grid-area: btnTwo;
            margin-left: 17%;
            margin-right: auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem; 
        }
}
