

.quote{
    display: flex;
    flex-direction: row;
    width: 90%; 
}
@media screen and  (min-width: 800px) {
    .quote{
        margin-left: auto;
        margin-right: auto;
    }
}

.quoteImage{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 1rem;
    padding-top: 1rem;
}

.quoteText{
    font-style: italic;
    font-size: 24px;
    width: 300px;
    margin-right: 10rem;
}
@media screen and  (min-width: 800px) {
    .quoteText{
        margin: 1rem;
    }
    
}
.quoteFacts{
    font-size: 18px;
}