$mediumScreen: 1150px;

.quotes{
    display: flex;
    flex-direction: row; 
}

@media screen and  (min-width: $mediumScreen) {
    .quotes{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and  (min-width: $mediumScreen) {
    .quotes{
        margin-left: auto;
        margin-right: auto;
    }
}

.quoteOne{
    display: flex;
    text-align: left;
    max-width: 500px;
}

@media screen and (min-width: $mediumScreen){
    .quoteOne{
        width: 45%;
        margin-left: 10%;
        margin-right: 1%;
    }  
}

@media screen and (min-width: 1600px){
    .quoteOne{
        width: 40rem;
        margin-left: auto;
    }  
}

.quoteTwo{
    display: none;
}

@media screen and (min-width: $mediumScreen) {
    .quoteTwo{
        display: flex;
        text-align: left;
        width: 45%;
        margin-left: 1%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 1600px){
    .quoteTwo{
        width: 40rem;
        margin-right: auto;
    }  
}

.quoteImage{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin: 1rem;
    padding-top: 1rem;
}

@media screen and (min-width: $mediumScreen) {
    .quoteImage{
        width: 5em;
        height: 5em;
    }
}

.quoteText{
    font-style: italic;
    font-size: 24px;
    width:90%;
}

@media screen and  (min-width: $mediumScreen) {
    .quoteText{
        margin-right: 0rem;
        width: auto;
    }
}

.quoteFacts{
    font-size: 18px;
    margin-top: -1em;
    margin-bottom: 5em;
    width: 90%;
}

@media screen and  (min-width: $mediumScreen) {
    .quoteFacts{
        width: 17rem;
    }
}